@import "tailwindcss";

html, body, #root {
	min-height: 100%;
}

body {
	margin: 0;
	font-family: 'Arimo', sans-serif;
	background-color: #000;
  overflow-X: hidden;
}


@layer utilities {
  .scrollbar-thin-dark::-webkit-scrollbar {
    width: 8px;
  }

  .scrollbar-thin-dark::-webkit-scrollbar-track {
    background: transparent;
  }

  .scrollbar-thin-dark::-webkit-scrollbar-thumb {
    background: #404040;
    border-radius: 4px;
  }

  .scrollbar-thin-dark::-webkit-scrollbar-thumb:hover {
    background: #525252;
  }
}



/* login display */
@keyframes sway {
  0%, 100% { transform: translateX(0) rotate(12deg); }
  50% { transform: translateX(30px) rotate(12deg); }
}



/* Correction pour l'autofill des navigateurs */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: white;
  transition: background-color 5000s ease-in-out 0s;
  background-color: transparent !important;
}