@import "tailwindcss";

html, body, #root {
	min-height: 100%;
}

body {
	margin: 0;
	font-family: 'Arimo', sans-serif;
	background-color: #000;
}


@layer utilities {
  .scrollbar-thin-dark::-webkit-scrollbar {
    width: 8px;
  }

  .scrollbar-thin-dark::-webkit-scrollbar-track {
    background: transparent;
  }

  .scrollbar-thin-dark::-webkit-scrollbar-thumb {
    background: #404040;
    border-radius: 4px;
  }

  .scrollbar-thin-dark::-webkit-scrollbar-thumb:hover {
    background: #525252;
  }
}



/* video display */



